/* basic Code */
* {
    margin: 0px;
    padding: 0px;
    outline: 0px;
    box-sizing: border-box;
}

html,
body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background: #ffffff;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 60px 0;
}

.btn {
    color: #ffffff;
    padding: 20px 40px;
    position: relative;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
    background: #FF8063;
    transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    margin-top: 15px;
}

.btn:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/* basic Code end */

/* navbar part */
#navbar {
    text-align: right;
    width: 80%;
    margin: 25px auto;
}

#navbar a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    color: #aaaaaa;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}

#navbar a,
#navbar a:after,
#navbar a:before {
    transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
}

#navbar a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: ".";
    color: transparent;
    background: #aaaaaa;
    height: 1px;
}

#navbar a:hover:after {
    width: 100%;
}

#navbar a:hover {
    color: #555555;
}

/* navbar part end */

/* header part start */
#projects .container,
#about .container,
#header .container {
    display: flex;
    justify-content: space-between;
}

.header-left {
    width: 50%;
    padding-top: 160px;
}

.header-left h1 {
    font-size: 80px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    color: #363958;
}

.header-left h1 span {
    display: block;
    color: #FF8367;
}

.about-right p,
.header-left p {
    color: #3E3E3E;
    margin: 15px 0;
}

.about-left,
.header-right {
    width: 50%;
}

.about-left img,
.header-right img {
    width: 100%;
    opacity: 0.9;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
}

.about-left img:hover,
.header-right img:hover {
    opacity: 1;
}

/* header part end */ 

/* about part start */
.about-right {
    padding: 160px;
    width: 50%;
}

.about-right h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 48px;
    font-weight: 400;
    color: #363958;
}

.about-right i {
    margin-right: 10px;
}

/* about part end */

/* projects part start */
#projects {
    background: #E5E5E5;
    padding: 80px 0;
}

#projects h2 {
    font-family: 'Bebas Neue', cursive;
    color: #F46060;
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    padding-top: 80px;

}

#projects h2 span {
    color: #363958;
}

.card {
    padding: 15px;
    width: 30%;
    background: #FFFFFF;
    box-shadow: 0px 6.5812px 19.7436px rgba(0, 0, 0, 0.07);
    border-radius: 19.7436px;
    overflow: hidden;
}

.card img {
    width: 100%;
    transform: scale(1);
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.card img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.card h3 {
    margin: 15px 0;
    font-size: 24px;
    color: #363958;
}

.card p {
    color: #6C6C6C;
    margin-bottom: 15px;
}
/* projects part end */