/* font-family: 'Bebas Neue', cursive; */
/* <i class="fas fa-download"></i> */


* {
    margin: 0px;
    padding: 0px;
    outline: 0px;
    box-sizing: border-box;
}

html, 
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: #ffffff;
}

.container {
    width: 80%;
    margin: 0 auto;
}

#navbar {
    margin: 25px 0; 
    text-align: right;
}

#navbar a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    color: #aaaaaa;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}

#navbar a,
#navbar a:after,
#navbar a:before {
    transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
}

#navbar a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: ".";
    color: transparent;
    background: #aaaaaa;
    height: 1px;
}

#navbar a:hover:after {
    width: 100%;
}

#navbar a:hover {
    color: #555555;
}